@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*/

html,
body {
    height: 100%;
    background: linear-gradient(to right, #d2f3c8, #cefaf9);
}

nav{
    /* background-color:#26272b; */
    background-color: #71cc00;
    font-size:15px;
    line-height:24px;
    color:#bbb;
}

.hi {
    text-align: center;
}

.curstate {
    text-align: center;
    background: white;
    border-radius: 1em;
    width: 100%;
    max-width: 750px;
    margin: 1rem auto;
}

#redgreen{
    margin: auto;
    background-color: red;
    width: 10em;
    height: 10em;
}

#table{
    margin: auto;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width:700px) {
  #container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

table {
border-collapse: separate;
border-spacing: 0;
overflow: hidden;
padding-bottom: 20px;
}
th, td {
padding: 10px;
border: 1px solid black;
width: 100px;
}
tr:first-child td:first-child {
border-top-left-radius: 10px;
}
tr:first-child td:last-child {
border-top-right-radius: 10px;
}
tr:last-child td:first-child {
border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
border-bottom-right-radius: 10px;
}

nav{
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

.container1 {
  margin-left: 20px;
}

.site-footer
{
  /* background-color:#26272b; */
  background-color: #71cc00;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:10px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:0px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  /* margin-right:8px; */
  border-radius:100%;
  /* -webkit-transition:all .2s linear; */
  /* -o-transition:all .2s linear; */
  /* transition:all .2s linear */
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
